.button {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  animation: bg2ColorChange 2s infinite;
  transition: 0.5 ease-in-out;
  padding: 1em 2em !important;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}

.button span {
  position: relative;
  pointer-events: none;
}

.button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.button:hover::before {
  --size: 400px;
}

@keyframes bg2ColorChange {
  0% {
    background-color: #d61111;
  }
  25% {
    background-color: var(--aqua);
  }
  50% {
    background-color: var(--gold);
  }
  100% {
    background-color: #d61111;
  }
}
