.perks {
  background-color: #000000;
}

.perks * button {
  background: #f72359 !important;
  color: white;
}

.perks-container {
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-wrap: wrap;
  width: 100%;
}

.perks-section {
  padding: 0 3rem;
  background-color: #000000;
}

.perks-section h1 {
  color: white;
  font-weight: bolder;
  font-size: 4rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.perks-section h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.perks-section h2 {
  font-weight: bolder;
  font-size: 3rem;
  letter-spacing: 1.5px;
}

.perks-section p {
  padding-top: 2rem;
  color: white;
  font-size: 2rem;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 1265px) {
  .perks-section h1 {
    font-size: 3rem;
  }
  .perks-section h2 {
    font-size: 2.5rem;
  }
  .perks-section p {
    padding-top: 1.25rem;
  }
  .perks {
    padding-bottom: 10rem;
  }
  .perks-container {
    height: 120vh;
  }
}

@media only screen and (max-width: 840px) {
  .perks-container {
    height: 190vh;
  }
  .perks {
    padding-bottom: 20rem;
  }
}
