.red {
  height: 100vh;
  margin-top: 100vh;
  background-color: #cc3030;
}

.red h1 {
  z-index: 2;
  color: black;
}

.button-container {
  float: right;
  padding: 2rem;
}

.button-container * button,
.red-sub-container * button {
  background-color: aliceblue !important;
  color: #cc3030;
}

.red-wrapper {
  padding-top: 20vh;
  display: flex;
}

.red-sub-container {
  margin-left: 20%;
  margin-top: 5rem;
  width: 80vw;
}
.red-sub-container h2 {
  color: white;
  font-weight: bolder;
  font-size: 4rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.red-sub-container p {
  color: black;
  font-size: 2rem;
  letter-spacing: 1.5px;
  margin: 3rem 0;
}

.red-sub-img-container2 img {
  margin-top: 10rem;
}

@media only screen and (max-width: 1200px) {
  .red-sub-img-container2,
  .red-sub-img-container {
    display: none;
  }
  .red-sub-container h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .red {
    height: 110vh;
  }
  .red-sub-img-container {
    margin-top: 3rem;
  }
  .button-container {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .red-wrapper {
    padding-top: 0;
  }
}
