.payment-button {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1.5rem 6rem !important;
  border: none;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.payment-button span {
  position: relative;
  pointer-events: none;
}

.payment-button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, blue, transparent);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.payment-button:hover::before {
  --size: 400px;
}
