.payment {
  background-color: #fcfcfc;
  height: 120vh;
}

.payment-page-menu * {
  color: #ba1616 !important;
}

.payment-page-menu .bar {
  background-color: #ba1616 !important;
}

.payment-container {
  padding: 10rem 0 5rem 8rem;
}

.payment-container h1 {
  font-size: 3rem;
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.payment-plan p {
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.payment-radio label {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.payment-radio input {
  height: 20px;
  width: 20px;
}

.payment-radio {
  margin: 1rem 6rem 1rem 0;
}

.payment-options {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  break-before: always;
  margin: 0 0 3rem 0;
}

.billing-and-cc {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.billing {
  margin-right: 3rem;
}

.billing p,
.cc p {
  margin-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.input-fields input,
.input-fields select {
  width: 100%;
  padding: 12px 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border: 2px solid #3d3d3d;
  border-bottom: 5px solid #ffffff00;
}

.input-fields input[type="text"]:focus {
  border: 2px solid #3d3d3d;
  border-bottom: 5px solid blue;
}

.input-fields label {
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.sub-input-fields {
  display: flex;
  justify-content: space-between;
}

.sub-input-fields div {
  width: 50%;
}

.sub-input1 {
  margin-right: 1rem;
}

.payment-submit {
  margin-left: 10rem;
}

.payment-submit p {
  font-size: 1.1rem;
  letter-spacing: 1.3px;
  margin-bottom: 3rem;
}

.payment-submit a {
  text-decoration: none;
  font-weight: bolder;
  color: blue;
}

@media only screen and (max-width: 1200px) {
  .payment-container {
    padding: 10rem 0 5rem 3rem;
  }
}

@media only screen and (max-width: 1100px) {
  .payment-container {
    padding: 10rem 1rem 5rem 1rem;
  }
  .billing-and-cc {
    flex-direction: column;
  }
  .billing {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .payment {
    height: 170vh;
  }
  .payment-radio {
    margin: 1rem 0.5rem 1rem 0;
  }
}

@media only screen and (max-width: 700px) {
  .payment-submit {
    margin-left: 2rem;
  }
  .payment {
    height: 190vh;
  }
}
