.slider-wrapper {
  display: block;
  background: #fff;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slide1 {
  background-image: url(../../assets/1.jpg);
  background-position: center;
  background-size: cover;
}

.slide2 {
  background-image: url(../../assets/2.jpg);
  background-position: center;
  background-size: cover;
  left: 100%;
}

.slide3 {
  background-image: url(../../assets/3.jpg);
  background-position: center;
  background-size: cover;
  left: 200%;
}

.slider > div {
  text-align: center;
}

.slider h2 {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 120%;
  letter-spacing: 3px;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slider p {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 120%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  margin: 2rem 5rem;
}

.slider .button {
  color: var(--white);
  padding: 5px 50px;
  background: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  opacity: 0;
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
}

.slider h2,
.slider p,
.slider .button {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.slider-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1000;
}

.slider-pagination label {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 2px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  background: var(--white);
}

.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.slide-radio1:checked ~ .slide1 h2,
.slide-radio2:checked ~ .slide2 h2,
.slide-radio3:checked ~ .slide3 h2,
.slide-radio1:checked ~ .slide1 .button,
.slide-radio2:checked ~ .slide2 .button,
.slide-radio3:checked ~ .slide3 .button,
.slide-radio1:checked ~ .slide1 p,
.slide-radio2:checked ~ .slide2 p,
.slide-radio3:checked ~ .slide3 p {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .slider h2 {
    font-size: 20px;
  }
  .slider > div {
    padding: 0 2%;
  }
  .slider .button {
    padding: 0 30px;
  }
}
